Your account has been created. Your registration code is:

<%= @company.reg_code %>

Visit this url to return to the iAppsForStudents developer login page and login with your email address and the registration code above.

www.iappsforstudents.com/developer

Thanks for signing up and offering your application(s) at a discount!
