
a.iapps:link
{
	color: #362418;
	text-decoration: none;
}

a.iapps:visited
{
	color: #4e3423;
	text-decoration: none;
}

a.iapps:hover
{
	color: #4e3423;
	text-decoration: underline;
}

a.app_detail:link
{
	color: #362418;
	text-decoration: none;
}

a.app_detail:visited
{
	color: #4e3423;
	text-decoration: none;
}

a.app_detail:hover
{
	color: #4e3423;
	text-decoration: underline;
}

a.footer:link
{
	color: #97968c;
	text-decoration: none;
	margin-right: 5px;
	margin-left: 5px;
}

a.footer:visited
{
	color: #97968c;
	text-decoration: none;
	margin-right: 5px;
	margin-left: 5px;

}

a.footer:hover
{
	color: #97968c;
	text-decoration: underline;
	margin-right: 5px;
	margin-left: 5px;
}

img {
	border: 0px;
}

body {
	background: url(/images/background.png) repeat;
	margin: 0;
	font-family: "Myriad Pro", "Lucida Grande", "Gill Sans";
}

div.clear {
	clear: both;
}

div.container {
	width: 100%;
}

div.content {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	color: #362418;
}

div#header {
	background: url(/images/header_background.png);
	width: 100%;
	height: 193px;
	margin-right: auto;
	margin-left: auto;
}

div#logo {
	margin-left: auto;
	margin-right: auto;
	width: 275px;
	height: 106px;
	padding-top: 30px;
}

div#banner {
	margin-left: auto;
	margin-right: auto;
	width: 669px;
	height: 92px;
	margin-top: 30px;
}

div#presale {
	text-align: center;
	font-size: 2em;
}

div#countdown {
	margin-right: auto;
	margin-left: auto;
}

div#salestart {
	font-size: .6em;
}

div#salestats {
	margin-top: 30px;
}

div#presale_developers {
	margin-top: 30px;
	font-size: 0.75em;
}

div#center_twitter {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 2em;
}

div#presale_follow {
	font-size: 0.5em;
	margin-top: 5px;
}

div#navbar {
	margin-top: -75px;
}

div#twitter {
	float: left;
}

div#follow {
	margin-top: -22px;
	margin-left: 30px;
}

div#devlogin {
	float: right;
}

div#footer {
	color: #97968c;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 75px;
}

div.sections {
	width: 275px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 70px;
}

div.section1 {
	float: left;
	margin-right: 40px;
}

div.subsection {
	float: left;
}

div.section2 {
	float: left;
	margin-right: 40px;
}

div.section3 {
	float: right;
}

div.section_icon_mac {
	margin-left: 14px;
}

div.section_icon_iphone {
	margin-left: 20px;
}

div.section_icon_ipad {
	margin-left: 17px;
}

div.section_label {
	text-align: center;
}

div.selected_section {
}

div.unselected_section {
	opacity: 0;
}

div.company {
}

div.companyname {
	margin-top: 30px;
	text-align: center;
	font-size: 1.3em;
}

hr.app {
	width: 750px;
}

div.appinfo {
	width: 750px;
	margin: 10px auto;
}

div.app_icon {
	margin-left: 10px;
	margin-right: 10px;
	float: left;
	width: 150px;
	height: 150px;
}

div.app_text {
	float: right;
}

div.app_ident {
	float: left;
	width: 480px;
}

div.app_title {
	font-size: 1.2em;
}

div.app_description {
	font-size: .85em;
	margin-top: 5px;

}

div.app_detail {
	margin-right: 5px;
	float: right;
	margin-left: 10px;
}

div.app_buy {
}

div.buy {
	margin-top: -55px;
	margin-left: 23px;
}

div.app_price {
	text-align: center;
	font-weight: bold;
	font-size: .8em;
}

div.percentoff {
	text-align: center;
	font-size: .7em;
}

div.disccode {
	font-size: .75em;
	margin-top: 30px;
	text-align: center;
}

div.appinfo-edit {
	text-align: center;
}

div.company_admin {
	text-align: center;
	margin-top: 50px;
}

div.devapplistitem {
	margin-top: 75px;
}

div#devapplist {
	margin-bottom: -50px;
}

#edit-form {
	width: 600px;
	margin-top: 25px;
	text-align: center;
}

#edit-form input, #edit-form textarea {
	padding: 5px;
	width: 471px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#edit-form textarea {
	height: 90px;
}

#edit-form textarea:focus, #edit-form input:focus {
	border: 2px solid #900;
}

#edit-form input.submit-button {
	width: 100px;
	float: right;
}
