
<div class="center">
	<div id="flashnotice"><%= flash[:notice] %></div>
	
	<div id="welcome_intro">
	<p>Welcome developers!</p>
	<p>Sign-in to manage your applications, or register to create a new account. Registration is free, just click on the Register link below. Once you have filled out your registration information, an email will be sent with your registration login code. Thanks for your support.</p>
	</div>

	<div class="registertext">
		<a href="/developer/register" class="iapps">Register</a>
	</div>

	or

	<div class="logintext">
		Login
	</div>
	
	<% form_tag(:action => 'login', :method => 'post', :multipart => true ) do %>
		<div class="signin">
			<p class="form">Email</p><%= text_field_tag "email", nil, :class => 'iapps' %>
			
			<p class="form">Registration Code</p><%= text_field_tag "reg_code", nil, :class => 'iapps' %>
			
			<div id="submit">
				<%= submit_tag 'Submit' %>
			</div>
		</div>			
	<% end %>
	</div>
</div>

