
<div class="center">
	<div id="flashnotice"><%= flash[:notice] %></div>
	
	<div id="welcome_intro">
	<p>Welcome developers!</p>
	<p>iAppsForStudents is a back to school sale with some of the best indie Mac and iOS developers providing 
	   discounts on their software. Any indie Mac or iOS developer is welcome to participate. 
	   You decide your apps discount and all transactions take place on your site or the AppStore. Please note 
	   that due to the nature of the AppStore any iPhone or iPad software discounts will need to be made AppStore wide.
	   What's the catch? There isn't one. We're indie developers too and merely get the chance to put our apps 
	   on sale right along side yours. So, join us and sign up now!
	</p>
	<p>Sign-in to manage your applications, or register to create a new account. Registration is free, 
	   just click on the Register link below. Once you have filled out your registration information, 
	   an email will be sent with your registration login code. Thanks for your support.
	</p>
	</div>

	<div class="registertext">
		<a href="/developer/register" class="iapps">Register</a>
	</div>

	or

	<div class="logintext">
		Login
	</div>
	
	<% form_tag(:action => 'login', :method => 'post', :multipart => true ) do %>
		<div class="signin">
			<p class="form">Email</p><%= text_field_tag "email", nil, :class => 'iapps' %>
			
			<p class="form">Registration Code</p><%= text_field_tag "reg_code", nil, :class => 'iapps' %>
			
			<div id="submit">
				<%= submit_tag 'Submit' %>
			</div>
		</div>			
	<% end %>
	</div>
</div>
