<p>Your registration information has been received. You will receive an email shortly with your registration code in it. When you receive the email, enter your email address and the registration code into the login screen.</p>

<p><a href="/developer/login">Login</a></p>