<% form_for :company, @company, :url => {:action => "saveregister", :id => @company.id } do |f| %>

	<p>Company Name: <%= f.text_field :title %></p>
	<p>Email: <%= f.text_field :email %></p>
	<p>Contact: <%= f.text_field :contact %></p>

	<%= f.submit %>
	
<% end %>