<p><a href="/?platform=mac">Mac</a> | <a href="/?platform=iphone">iPhone</a> |
	<a href="/?platform=ipad">iPad</a></p>

<% if @applications != nil %>
<% for a in @applications %>

<p>Application: <%= a.title %></p>
<p><% if a.icon.exists? %>
	<%= image_tag a.icon.url(:small) %>
	<% end %></p>
	
<% end %>
<% end %>