<div class="pagetitle">
Subscribe to our Newsletter
</div>

<div id="center">
	<div id="newsletter_sub_intro">
		<p>Sign up to keep informed of future sales. We hate spam too, your email address is safe with us.</p>
	</div>
</div>

<form action="http://iappsforstudents.createsend.com/t/r/s/olrldj/" method="post" id="subForm">
	<div class="newsletter_subscribe">
		<p class="form"><label for="name">Name</label></p><input class="iapps" type="text" name="cm-name" id="name" />
		<p class="form"><label for="olrldj-olrldj">Email</label></p><input class="iapps" type="text" name="cm-olrldj-olrldj" id="olrldj-olrldj" />

		<div id="submit">
		<input type="submit" value="Subscribe" />
		</div>
	</div>
</form>